.projects {
  padding: 2rem;
  z-index: 1;
  padding-bottom: 50px;
  max-width: 800px;
  margin: auto;
  padding-top: 80px;
  .title {
    color: #fde68a;
    font-weight: 900;
    font-size: 2.5rem;
    padding: 30px 0px;
  }
  .content {
    .subtitle {
      font-weight: 600;
      margin: 30px 0px 20px 0px;
    }
    a {
      text-decoration: none;
      color: white;
      &:hover {
        color: #fde68a;
      }
    }
  }
}
.back {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  z-index: -1;
  font-size: 5rem;
  font-weight: 900;
  filter: blur(5px);
  text-align: center;
}
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
  font-size: 0.8rem;
  .icons {
    margin: 10px;
    font-size: 1.2rem;
    i {
      margin: 5px;
    }
  }
}
