<div class="projects">
  <h1 class="title">Contact.</h1>

  <div class="content">
    Feel free to contact to me!
    <div class="subtitle">Email</div>
    <div>caxbelle@gmail.com</div>
    <div class="subtitle">Github</div>
    <div>
      <a href="https://github.com/byu1kim">https://github.com/byu1kim</a>
    </div>
    <div class="subtitle">LinkedIn</div>
    <div>
      <a href="https://www.linkedin.com/in/byul-kim-523362250"
        >https://www.linkedin.com/in/byul-kim-523362250</a
      >
    </div>
    <div class="subtitle">Instagram</div>
    <div>
      <a href="https://instagram.com/byu1kim">https://intagram.com/byu1kim</a>
    </div>
    <div class="subtitle">Youtube</div>
    <div>
      <a href="https://www.youtube.com/@byulkim3356"
        >https://www.youtube.com/@byulkim3356/</a
      >
    </div>
  </div>
</div>

<div class="back">Contact</div>
<footer>
  <div class="icons">
    <i class="fa-solid fa-envelope"></i>
    <i class="fa-brands fa-github"></i>
    <i class="fa-brands fa-instagram"></i>
    <i class="fa-brands fa-linkedin"></i>
    <i class="fa-brands fa-youtube"></i>
  </div>
  &copy; 2023 Byul Kim. All rights reserved.
</footer>
