<div class="about">
  <section class="first">
    <div class="title">About.</div>
    <div class="content">
      Hi, I'm Byul Kim a recent graduate with a passion for web development
      based in Vancouver, BC
    </div>
  </section>
  <section class="second">
    <div class="title">Skills.</div>
    <div class="content">
      <div class="chart">
        <div class="item">
          <div class="bar" style="height: 200px"></div>
          <div class="label">Node.Js</div>
        </div>
        <div class="item">
          <div class="bar" style="height: 180px"></div>
          <div class="label">.NET</div>
        </div>
        <div class="item">
          <div class="bar" style="height: 100px"></div>
          <div class="label">Python</div>
        </div>
        <div class="item">
          <div class="bar" style="height: 220px"></div>
          <div class="label">React</div>
        </div>
        <div class="item">
          <div class="bar" style="height: 120px"></div>
          <div class="label">MySQL</div>
        </div>
        <div class="item">
          <div class="bar" style="height: 150px"></div>
          <div class="label">MongoDB</div>
        </div>
      </div>
    </div>
  </section>
</div>
<div class="back">ABOUT BYUL</div>
<footer>
  <div class="icons">
    <i class="fa-solid fa-envelope"></i>
    <i class="fa-brands fa-instagram"></i>
    <i class="fa-brands fa-linkedin"></i>
    <i class="fa-brands fa-youtube"></i>
  </div>
  &copy; 2023 Byul Kim. All rights reserved.
</footer>
