<div class="about">
  <section class="first">
    <div class="title">About.</div>
    <div class="content">
      Hi, I'm Byul Kim, a recent graduate with a passion for web development,
      based in Vancouver, BC
    </div>
  </section>
  <section class="second">
    <div class="title">Skills.</div>
    <div class="content">
      <div class="chart">
        <div class="item">
          <div class="bar"></div>
          <div class="label">Node.Js</div>
        </div>
        <div class="item">
          <div class="bar"></div>
          <div class="label">.NET</div>
        </div>
        <div class="item">
          <div class="bar"></div>
          <div class="label">Python</div>
        </div>
        <div class="item">
          <div class="bar"></div>
          <div class="label">React</div>
        </div>
        <div class="item">
          <div class="bar"></div>
          <div class="label">MySQL</div>
        </div>
        <div class="item">
          <div class="bar"></div>
          <div class="label">MongoDB</div>
        </div>
      </div>
    </div>
  </section>
</div>
<div class="back">ABOUT BYUL</div>
