<section class="first shine">
  <div class="name">I am Byul,</div>
  <div class="job">Web Developer</div>
</section>
<section class="second">
  <div class="title">How do I pronounce your name?</div>
  <div class="content">
    <code> &#91; bjʌl &#93;</code>
    <div>It means Star in Korean</div>
    <button>More about me</button>
  </div>
</section>
<section class="third">
  <div class="title">Recent Projects</div>
  <div class="content">aaaaaaa</div>
</section>
<footer>
  <div class="icons">
    <i class="fa-solid fa-envelope"></i>
    <i class="fa-brands fa-instagram"></i>
    <i class="fa-brands fa-linkedin"></i>
    <i class="fa-brands fa-youtube"></i>
  </div>
  &copy; 2023 Byul Kim. All rights reserved.
</footer>
