.hidden {
  display: none;
}

.projects {
  padding: 2rem;
  z-index: 1;
  padding-bottom: 50px;
  max-width: 800px;
  margin: auto;
  padding-top: 80px;
  .title {
    color: #fde68a;
    font-weight: 900;
    font-size: 2.5rem;
    padding: 30px 0px;
  }

  .content {
    .project {
      margin-top: 50px;
    }
    .img {
      width: 100%;
      height: 50vh;
      overflow: hidden;
      box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.9);
      margin-bottom: 20px;
      position: relative;
      display: flex;
      justify-content: center;
      img {
        width: 100%;
        object-fit: cover;
      }

      .pseudo {
        visibility: hidden;
        position: absolute;
        left: 0;
        background-color: rgba(0, 0, 0, 0.5);
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      &:hover {
        cursor: pointer;
        .pseudo {
          visibility: visible;
        }
      }
    }
    .info {
      line-height: 1.5;
      .info-title {
        font-family: "Cormorant Garamond", serif;
        letter-spacing: 0.2rem;
      }
      .category {
        color: #fcd34d;
      }
    }
  }
}
.back {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  z-index: -1;
  font-size: 5rem;
  font-weight: 900;
  filter: blur(5px);
  text-align: center;
}
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
  font-size: 0.8rem;
  .icons {
    margin: 10px;
    font-size: 1.2rem;
    i {
      margin: 5px;
    }
  }
}
