<article
  *ngFor="let project of projects | projectFilter : tagFilter"
  [class.hidden]="categoryFilter && project.category?.id != categoryFilter.id"
>
  <section>
    <h2>{{ project.title | uppercase }}</h2>
    <div>{{ project.body }}</div>
  </section>
  <footer>
    <div *ngIf="project.category" (click)="setCategoryFilter(project.category)">
      Category: <span>{{ project.category.name }}</span>
    </div>
    <div *ngIf="project.tags?.length">
      Tags:
      <span *ngFor="let tag of project.tags" (click)="setTagFilter(tag)">
        {{ tag.name }}
      </span>
    </div>
  </footer>
</article>

<!-- <div
class="card"
*ngFor="let project of projects | projectFilter : tagFilter"
[style.display]="
  categoryFilter && categoryFilter.slug !== project.category?.slug
    ? 'none'
    : 'block'
"
> -->
