<div class="body">
  <div class="header">
    <h1>{{ title }}</h1>
  </div>

  <div class="main">
    <app-projects
      [categoryFilter]="categoryFilter"
      [tagFilter]="tagFilter"
      (newCategoryFilterEvent)="setCategoryFilter($event)"
      (newTagFilterEvent)="setTagFilter($event)"
    ></app-projects>
  </div>

  <div class="sidebar">
    <div class="filter">
      <div class="title">Filter:</div>
      <div *ngIf="categoryFilter || tagFilter">
        <div class="current-filter" (click)="clearFilters()">
          {{ categoryFilter?.name || tagFilter?.name }}
          <button (click)="clearFilters()">Del</button>
          <i class="bi bi-trash"></i>
        </div>
      </div>

      <app-categories
        [categoryFilter]="categoryFilter"
        (newCategoryFilterEvent)="setCategoryFilter($event)"
      >
      </app-categories>
      <app-tags
        [tagFilter]="tagFilter"
        (newTagFilterEvent)="setTagFilter($event)"
      >
      </app-tags>
    </div>
  </div>
  <div class="footer">Byul Kim</div>
</div>
