.project {
  padding: 2rem;
  z-index: 1;
  padding-bottom: 50px;
  max-width: 800px;
  margin: auto;
  padding-top: 80px;

  button {
    background-color: transparent;
    border: none;
    color: white;
    padding-bottom: 10px;
    cursor: pointer;
  }
  .title {
    color: #fde68a;
  }
  .img {
    width: 100%;
    height: 50vh;
    overflow: hidden;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.9);
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    img {
      height: 100%;
      object-fit: cover;
    }
    &:hover {
    }
  }
  .info {
    line-height: 1.5;
    .title {
      margin: 30px 0px;
    }

    .sub-title {
      font-weight: 900;
    }
    .content {
      margin-bottom: 30px;
    }
    a {
      text-decoration: none;
      color: white;
      &:hover {
        color: #fde68a;
      }
    }
  }
}
.back {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  z-index: -1;
  font-size: 5rem;
  font-weight: 900;
  text-align: center;
  filter: blur(5px);
}
