<article *ngIf="project" class="project">
  <button type="button" (click)="goBack()">Back</button>
  <hr />

  <div class="info">
    <h2 class="title">{{ project.title | uppercase }}</h2>
    <div class="img">IMAGE!</div>
    <div class="sub-title">Detail</div>
    <div class="content" [innerHTML]="project.body">aa</div>
    <div class="sub-title">Category</div>
    <div class="content" *ngIf="project.category">
      <span>{{ project.category.name }}</span>
    </div>
    <div class="sub-title">Technologies</div>
    <div class="content" *ngIf="project.tags?.length">
      <span *ngFor="let tag of project.tags">
        {{ tag.name }}
      </span>
    </div>
    <div class="sub-title">Website</div>
    <div class="content">aa</div>
    <div class="sub-title">Github</div>
    <div class="content">aa</div>
  </div>
</article>
<div class="back" *ngIf="project">{{ project.title | uppercase }}</div>
